<h1><%= @band.name %></h1>

<%= image_tag @band.image, :class => 'feature' if @band.image.present? %>
<p><%= @band.name %> (<%= @band.country %>)</p>

<div class="controls">
    <%= link_to "Edit info", edit_band_path(@band) %>
     <%= button_to "Delete photo", @band, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
