<!DOCTYPE html>
<html>
  <head>
    <title>Music Photography by Kate Griffin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <img class="logo" src="http://www.griffinrocks.com.au/wp-content/uploads/2013/05/griffinrocks-logo1.png" alt="GriffinRocks music photography logo">
    <nav>
      <div class="login">
        <%= link_to "Home", root_path %>
        <% if @current_user.present? %>
          <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete' %>
        <% else %>
         <%= link_to "Sign up", new_user_path %>
          <%= link_to "Sign in", login_path %>
        <% end %>
      </div>

      <div class="menu">
        <%= link_to "Bands", bands_path %>
        <%= link_to "New band", new_band_path %>
        <%= link_to "Musicians", musicians_path %>
        <%= link_to "Music venues", venues_path %>
      </div>
    </nav>

    
      <%= yield %>
    </div>

  </body>
</html>
